/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2019, 2:10:00 PM
    Author     : rasm947f
*/

body {
    margin: 0;
}

#o {
    text-decoration: none;
    color: black;
    cursor: default;
}

.sidebar {
    height: 100%; /* Full height sidebar */
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    height: 50px;
    width: 200px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #111;
}

openbtn:hover {
    background-color: #444;
}

header {
    height: 50px;
    width: 100%;
    background-color: #111;
    color: white;
    font-size: 20px;
}

/* Style page content - use this if you want to push the page
content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the 
style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* shoes.html */
input[type=text], [type=email], [type=date], [type=number] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}