/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2019, 2:10:00 PM
    Author     : rasm947f
*/

#o {
    text-decoration: none;
    color: black;
    cursor: default;
}

.sidebar {
    height: 100%; /* Full height sidebar */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
}