/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2019, 2:10:00 PM
    Author     : rasm947f
*/

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.sidebar {
    min-height: 100vh;
    width: 45px;
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
}


.sidebarbuttons {
    width: 45px;
    display: flex;
    flex: 1;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Sidebar Links */
.sidebarbuttons a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /* Keep the text from wrapping*/
    white-space: nowrap;
}

/* Sidebar Links Hover */
.sidebarbuttons a:hover {
    color: #f1f1f1;
}

/* Move the sidebar and closebtn when clicking the X */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The toggle button */
.togglebtn {
    height: 40px;
    width: 180px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #333;
    outline: none;
    overflow: hidden;
}

/* Toggle Hover */
.togglebtn:hover {
    background-color: #444;
}

.togglebtn a {
    width: 100%;
}

.noButton {
    display: flex;
    height: 50px;
    width: 220px;
    color: white;
    justify-content: center;
    align-items: center;
}

.flex-container {
    height: 100%;

}

/* Header */
header {
    z-index: 2;
}

.topnav {
    height: 50px;
    width: 100%;
    background-color: #333;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.headerButtons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: none;
}

.headerButtons a {
    color: white;
    text-decoration: none;
}

.headerButtons a:hover {
    color: #c8a2c8;
}

.buttons {
    margin-left: 20px;
    margin-right: 20px;
}


.dropbtn {
    height: 50px;
    width: 135px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.dropbtn:hover {
    background-color: #444;
}

.dropdown-content {
    display: none;
    width: 115px;
    font-size: 18px;
    margin-top: 66px;
    position: absolute;
    background-color: #444;
    padding: 10px 15px;
    z-index: 1;
}

.dropdown-content a:hover{
    color: #cc0000;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

/* Style page content - use this if you want to push the page
content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/*Footer*/

footer{
    background-color: #333;
    text-align: center;
    color: #818181;
    height: 60px;
    z-index: 2;
}

.footerTop{
    width: auto;
    font-size: 14px;
    padding: 5px;
}

.footerButtons{
    padding: 5px;
}

.footerLink{
    font-weight: bold;
    color: #818181;
}

.footerLink:hover{
    color: #f1f1f1;
}

.footerBottom{
    font-size: 14px;
    padding: 4px;
}


/* shoes.html */

/* Form Input */
input[type=text], [type=email], [type=date], [type=number] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

/* "O"-link in the H1 "Skostørrelser" */
#o {
    text-decoration: none;
    color: black;
    cursor: default;
}

.material-icons {
    vertical-align: text-top;
}



/* On smaller screens, where height is less than 450px, change the 
style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 650px) {
    .sidebar {width: 40px;}
    .sidebar a {font-size: 20px;}
    .sidebar a i {font-size: 20px;}
    
    .sidebarbuttons {width: 40px;}
    .sidebarbuttons a {font-size: 20px;}
    .sidebarbuttons a i {font-size: 20px;}

    .togglebtn {width: 155px;}

    .buttons {display: none;}
    .dropbtn {display: flex;}

    .footerTop {font-size: 12px;}
    
    #graph_div {width: 200px; height: 150px}
    #pie_div {width: 200px; height: 150px}
}

@media screen and (min-width: 650px) {
    .sidebar {width: 45px;}
    .sidebarbuttons {width: 45px;}
    
    
    #graph_div {width: 500px; height: 300px}
    #pie_div {width: 500px; height: 300px}
}